body{
    width: 1400px;
    height:800px;
    background-image: url("background.jpg");
    background-size: 1500px 2600px;
    background-position: bottom -875px right 0px;
    /*background-position: bottom -650px right 0px;*/
    overflow-x: hidden; 
    overflow-y: hidden;
    background-repeat: no-repeat;
}

h1{
    color: white;
    font-family: la-bohemienne, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 130px;
    position: absolute;
    left: 500px;
    top: 70px;
}

ul{
    position: absolute;
    left: 450px;
    top: 350px;
}

li{
    color: white;
    display: inline;
    font-family: baskerville-urw, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    padding-left: 80px;
}

#home{
    text-decoration: underline;
}

button{
    border: none;
    background-color: transparent;
    display: inline;
    font-family: baskerville-urw, serif;
    font-weight: 400;
    font-style: normal;
    padding-right: 50px;
    font-size: 20px;
    color:white;
}
