body{
    font-family: baskerville-urw, serif;
    font-weight: 400;
    font-style: normal;
}

.menu{
    border-style: solid;
    border-width: 2px;
    border-color: #C2C3C6;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    padding-bottom: 5px;
    width: 1800px;
    margin-left: -50px;
}

ul{
    margin-left: 30px;
    margin-right: 30px;
    vertical-align: center;
}

li{
    display: inline;
}

#header{
    font-size: 35px;
    padding-right: 675px;
    color: #977289;
}

.underline{
    text-decoration: underline;
    color: #838DB1;
}

button{
    border: none;
    background-color: transparent;
    display: inline;
    padding-right: 50px;
    color: #60686e;
    font-size: 20px;
}

.content{
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 30px;
    color:rgb(61, 61, 61);
    text-align: center;
}

#para{
    margin-top: 50px;
}

img{
    margin-top: 40px;
    width: 400px;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 33.33%;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

#goback{
    margin-top: 50px;
}

a{
    color: #713B55;
}